* {
    margin: 0;
    padding: 0;
}

#dark,
#button,
#room {
    position: absolute;
}

#room {
    width: 100vw;
    height: 100vh;
    background-image: url("coupleBed.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#dark {
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    transition: all 1s ease;
}

#button {
    width: 100px;
    height: 100px;
    border: 50px solid white;
    z-index: 3;
    border-radius: 50%;
    box-sizing: border-box;
    top: 50px;
    left: 40px;
    animation: switchOff 700ms linear infinite alternate;
}

#button:hover {
    animation: none;
}

#button:hover+#dark {
    background-color: transparent;
}

@keyframes switchOff {
    0% {
        border: 0px solid deeppink;
        opacity: 0;
    }

    100% {
        border: 50px solid deeppink;
        opacity: 1;
    }
}